<html>
  <head>
    <title>Booth Home</title>
	<style type="text/css">
		.rgb_frame
		{
			font-family: Georgia, "Times New Roman", Times, Serif;
			font-size: 20pt;
			background-color: #ffffff;
			border: 3px solid #33CCCC;
			margin: 10px 0 10px 10px;
			padding: 3px 3px 3px 5px;
			visibility: visible;
			vertical-align: middle;
			width: 80px;
		}
	</style>
	
	<script>
	<!--
	var colorhex="#FF0000"
	function mouseOverColor(hex)
	{
	document.getElementById("divpreview").style.backgroundColor=hex;
	document.getElementById("divpreviewtxt").innerHTML=hex;
	document.body.style.cursor="pointer";
	}

	function mouseOutMap()
	{
	document.getElementById("divpreview").style.backgroundColor=colorhex;
	document.getElementById("divpreviewtxt").innerHTML=colorhex;
	document.body.style.cursor="";
	}

	function clickColor(hex,seltop,selleft)
	{
	var xhttp,c
	if (hex==0)
		{
		c=document.getElementById("colorhex").value;
		}
	else
		{
		c=hex;
		}
	if (c.substr(0,1)=="#")
		{
		c=c.substr(1);
		}
	colorhex="#" + c;
	colorhex=colorhex.substr(0,10);
	document.getElementById("colorhex").value=colorhex;
	if (window.XMLHttpRequest)
	  {
	  xhttp=new XMLHttpRequest();
	  }
	else
	  {
	  xhttp=new ActiveXObject("Microsoft.XMLHTTP");
	  }
	xhttp.open("GET","http_colorshades.asp?colorhex=" + c + "&r=" + Math.random(),false);
	xhttp.send("");
	document.getElementById("colorshades").innerHTML=xhttp.responseText;
	if (seltop>-1 && selleft>-1)
		{
		document.getElementById("selectedColor").style.top=seltop + "px";
		document.getElementById("selectedColor").style.left=selleft + "px";
		document.getElementById("selectedColor").style.visibility="visible";
		}
	else
		{
		document.getElementById("divpreview").style.backgroundColor=colorhex;
		document.getElementById("divpreviewtxt").innerHTML=colorhex;
		document.getElementById("selectedColor").style.visibility="hidden";
		}
	//refreshleader()
	}
	//-->
	</script>
  </head>
  <body>
    {% block content %}{% endblock %}
  </body>
</html>