body { color: #000000; font-size: 11px; font-family: Verdana, Arial, Helvetica, sans-serif; }

td { color: #000000; font-size: 11px; font-family: Verdana, Arial, Helvetica, sans-serif; }

a:hover { color: #005D91; text-decoration: underline; }

.borders { border: 1px solid #000000; }

.link { color:#448EBF; text-decoration: none; }

.link2 { color:#5B607D; text-decoration: none; }

.form { color: #000000; font-size: 12px; font-family: Verdana, Arial, Helvetica, sans-serif; }

.heading1 {
	font-weight: bold; font-size: 14px; color: #364F77; font-family: verdana, arial, sans-serif; letter-spacing: 0.3em;
}
.hh1 {
	font-weight: bold; font-size: 16px; margin-bottom:5px; margin-top:5px;
}

.hdrL { padding-top:10px; padding-bottom:10px; }

.style1 {
  	font-family : verdana,arial,helvetica,sans-serif;
	font-size : 10px;
}

.style2 {
  	font-family : verdana,arial,helvetica,sans-serif;
	font-size : 11px;
}

.style3 {
  	font-family : verdana,arial,helvetica,sans-serif;
	font-size : 13px;
}

.style3a {
  	font-family : verdana,arial,helvetica,sans-serif;
	font-size : 14px;
}
.style3b {
  	font-family : verdana,arial,helvetica,sans-serif;
	font-size : 15px;
}

.style4 {
	font-weight: bold; font-size: 14px; color: #364F77; font-family: verdana, arial, sans-serif; letter-spacing: 0.5em; text-decoration: none
}

.style5 {
	font-weight: bold; font-size: 24px; color: #364F77; font-family: verdana, arial, sans-serif; letter-spacing: 0.5em; text-decoration: none
}

.table1 {
	border-right: #000000 1px solid; border-top: #000000 1px solid; border-left: #000000 1px solid; border-bottom: #000000 1px solid
}
.tBorder { border: 1px solid #000000; }

.ahr { text-decoration:underline; font-weight:normal }

nav {
    width: 100%;
    background: black;
    text-align: right;
}
nav a {
    color: white;
    text-decoration: none;
    display: inline-block;
    margin: 8px;
}
#panel {
    position: absolute;
    right: 0;
    width: 400px;
    top: 0;
    bottom: 0;
    box-shadow: 0px 0px 15px black;
    background: white;
    padding: 10px;
    -webkit-transform-origin: 100% 50%;
    -webkit-transform: scaleX(0.00001);
    -webkit-transition: -webkit-transform 0.2s ease-in-out;
    outline: 0;
}
#panel:target {
    -webkit-transform: scaleX(1);
}
#divcorners {
    border-radius: 15px;
    border: 2px solid #73AD21;
    padding: 10px; 
    width: 300px;
    height: 50px; 
}
.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #34A7C1; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 56px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}