
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Doorbell Server</title>
<meta name="keywords" content="">
<meta name="description" content="">
<link rel="stylesheet" type="text/css" href="../static/css/sliders.css">
<link rel="stylesheet" type="text/css" href="../static/css/styles.css">
<script src="../static/js/sliders.js"></script>
</head>

<body onload="init()" leftmargin="20" topmargin="20" marginwidth="20" marginheight="20" bgcolor="#ffffff" text="#000000" link="#006666" vlink="#006666" alink="#ff00ff" background="">
<!-- Navigation bar with settings icon -->
<nav>
	{% for client in socket_list %}
		<a href="http://{{ client }}:5000">{{ client }}</a>
	{% endfor %}
	<a href="#panel">&#9776;</a>
</nav>

<h1>Doorbell Events</h1>
{% for date in doorbell_log %}
<p id="divcorners">{{ date }}</p>
{% endfor %}

<!-- Hidden Settings Panel -->
<div id="panel">
	<a href="#">Close Panel</a>

	<div id="titleBar">
	<table border="0" cellpadding="2" cellspacing="0" width="320">
	<tr>
	<td id="title">Porch Light Colour</td>
	</tr>
	</table>
	</div>
	<div id="hexValue">
		<form name="frmValue" action="/" method="POST">
			<table border="0" cellpadding="2" cellspacing="0">
			<tr>
				<td>
					<table border="0" cellpadding="2" cellspacing="0">
					<tr>
						<td>Red</td>
						<td><input type="range" name="redslidername" id="idredslider" min="0" max="255" value="0" onChange="changedSlider('red', this.value);"></td>
					</tr>
					<tr>
						<td>Green</td>
						<td><input type="range" name="greenslidername" id="idgreenslider" min="0" max="255" value="0" onChange="changedSlider('green', this.value);"></td>
					</tr>
					<tr>
						<td>Blue</td>
						<td><input type="range" name="blueslidername" id="idblueslider" min="0" max="255" value="0" onChange="changedSlider('blue', this.value);"></td>
					</tr>
					</table>
				</td>
				<td>
					<div id="display"><img src="../static/images/blank.gif" width="50" height="50" border="0"></div>
				</td>
			</tr>
			</table>
			<table border="0" cellpadding="2" cellspacing="0" width="320" bgcolor="#EEEEEE">
			<tr>
			<td align="center">
			<table border="0" cellpadding="2" cellspacing="0">
				<tr>
					<td id="subtext">Red</td>
					<td id="subtext">Green</td>
					<td id="subtext">Blue</td>
				</tr>
				<tr>
					<td><input type="text" size="3" maxlength="3" name="RDisp" id="idred" value="{{ RDisp }}" onBlur="changedRGBEdits('red', this.value);"></td>
					<td><input type="text" size="3" maxlength="3" name="GDisp" id="idgreen" value="{{ GDisp }}" onBlur="changedRGBEdits('green', this.value);"></td>
					<td><input type="text" size="3" maxlength="3" name="BDisp" id="idblue" value="{{ BDisp }}" onBlur="changedRGBEdits('blue', this.value);"></td>
				</tr>
			</table>
			</td>
			<td align="center">
				<table border="0" cellpadding="2" cellspacing="0">
					<tr>
						<td id="subtext">Hexdecimal</td>
					</tr>
					<tr>
						<!-- Initial Hex value ignored, will be calculated on load -->
						<td><input type="text" size="7" maxlength="7" name="valueDisp" id="idhex" value="#000000" onChange="changedHex(this.value);"></td>
					</tr>
				</table>
			</td>
			</tr>
			</table><br>
			<br>
			<br>
			<label>Ding sound:</label>
			<select name='selected_ding' selected="{{ selected_ding }}">
				<option>None</option>
				{% for wav in wav_options %}
					{% if wav == selected_ding %}
					<option selected="selected">{{ wav }}</option>
					{% else %}
					<option>{{ wav }}</option>
					{% endif %}
				{% endfor %}
			</select><br>
			<br>
			<label>Dong sound:</label>
			<select name='selected_dong' selected="{{ selected_dong }}">
				<option>None</option>
				{% for wav in wav_options %}
					{% if wav == selected_dong %}
					<option selected="selected">{{ wav }}</option>
					{% else %}
					<option>{{ wav }}</option>
					{% endif %}
				{% endfor %}
			</select><br>
			<br>
			<br>
			<div class="server_switch">
			    <input type="checkbox" name="isserver" class="server_switch-checkbox" id="myserver_switch" {% if isserver %}checked{% endif %}>
			    <label class="server_switch-label" for="myserver_switch">
			        <span class="server_switch-inner"></span>
			        <span class="server_switch-switch"></span>
			    </label>
			</div>
			<br>
			<br>
			<div class="email_switch">
			    <input type="checkbox" name="isemail" class="email_switch-checkbox" id="myemail_switch" {% if isemail %}checked{% endif %}>
			    <label class="email_switch-label" for="myemail_switch">
			        <span class="email_switch-inner"></span>
			        <span class="email_switch-switch"></span>
			    </label>
			</div>
			<br>
			<br>
			<input type="submit" value="Save Changes" />
		</form>
		<br><br>
		<h1>Doorbell</h1>
		<form action="/ring/" method="POST">
			<input type="submit" value="Test Doorbell">
		</form>
		<br>
		<br>
		<h1>Reboot</h1>
		<form action="/reboot/" method="POST">
			<input type="submit" value="Reboot">
		</form>
	</div>
</div>
</body>
</html>
